<form #search = "ngForm" (ngSubmit) = "Search(search.value)">
    <div style="padding-left: 15px;padding-top:20px;">
        <span style="display:inline;">
          <input type="text" name="search-key" placeholder = "Search here!" ngModel id="search" class="input" style="border: 1px solid rgba(169, 154, 154, 0.737);"/>
        </span>
        <span style="display:inline;">
            <button type="submit" class="btn btn-primary" (click)="Search(search.value)" style="margin-left: 30px;;">Search</button>
        </span>
    </div>
    <p *ngIf = "searchKeyInvalid" style="padding-left: 20px; color:rgb(237, 71, 85);">Enter some text to search</p>
  </form>
 

<app-news-page  [newsList]="newsList" 
                [pageRefreshed] = "pageRefreshed"
                origin = "Search">
</app-news-page>

<app-loading-indicator [show]="isLoading">
</app-loading-indicator>

