<div style="padding-left: 10px;padding-top:10px;">
        <select #category (change)="newsCategorySelected(category.value)" 
                        class="form-control" 
                        style="appearance:auto;width:13%;background-color:rgb(222, 210, 157);color:black;">
            <option default>Select a category</option>
            <option>World</option>
            <option>Science</option>
            <option>Arts</option>
        </select>
</div>

<app-news-page  [newsList]="newsList" 
                [pageRefreshed] = "pageRefreshed"
                origin = "Home">
</app-news-page>

<app-loading-indicator [show]="isLoading">
</app-loading-indicator>
